@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #0073D7, #00C8FF);
    background-size: 100%;
}